<!DOCTYPE HTML>
  <html>
  <head>
  </head>
  <body>
    <div id="banner">
      <!-- https://www.publicdomainpictures.net/en/view-image.php?image=90914&picture=baseball-player-action-shot -->
      <a href="/">
        <img src="assets/baseball-player-action-shot.jpg" alt="baseball action image">
      </a>
    </div>

    <div id="menu"> 
      <div  class="center">
        <button class="left-button" (click)="decrDate()">-</button>
        <app-date (childEvent)="processChildEvent($event)"></app-date>
        <button class="right-button" (click)="incrDate()">+</button>
      </div>
    </div>


    <div id="left">
      <div class="content">
        <select [(ngModel)]="currentLeagueLeft" id="currentLeaguemenu"(ngModelChange)="setStyle($event,'--font-family-brand')">
          <option *ngFor="let league of leagueChoices" [value]="league.value">{{league.label}} </option>
        </select>

        <select [(ngModel)]="currentDivisionLeft" id="currentLeaguemenu"(ngModelChange)="setStyle($event,'--font-family-brand')">
          <option *ngFor="let division of divisionChoices" [value]="division.value">{{division.label}} </option>
        </select>

        <router-outlet></router-outlet> 
      </div>
    </div>

    <div id="right">
      <div class="content">
        <select [(ngModel)]="currentLeagueRight" id="currentLeaguemenu"(ngModelChange)="setStyle($event,'--font-family-brand')">
          <option *ngFor="let league of leagueChoices" [value]="league.value">{{league.label}} </option>
        </select>

        <select [(ngModel)]="currentDivisionRight" id="currentLeaguemenu"(ngModelChange)="setStyle($event,'--font-family-brand')">
          <option *ngFor="let division of divisionChoices" [value]="division.value">{{division.label}} </option>
        </select>

        <router-outlet name='sidebar'></router-outlet>
      </div>
    </div>

    <div id="footer"> 
      <!-- https://iconmonstr.com/facebook-4-svg/ -->
      <a href="https://www.facebook.com/slarribeau" target="_blank">
        <img src="assets/iconmonstr-facebook-4.svg" alt="Follow me on facebook">
      </a>

      <!-- https://iconmonstr.com/twitter-4-svg -->
      <a href="https://www.twitter.com/slarribeau" target="_blank">
        <img src="assets/iconmonstr-twitter-4.svg" alt="Follow me on twitter">
      </a>

      <!-- https://iconmonstr.com/linkedin-4-svg/ -->
      <a href="https://www.linkedin.com/in/scottlarribeau" target="_blank">
        <img src="assets/iconmonstr-linkedin-4.svg" alt="Follow me on instagram">
      </a>

      <!-- https://iconmonstr.com/instagram-14-svg/ -->
      <a href="https://www.instagram.com/slarribeau463" target="_blank">
        <img src="assets/iconmonstr-instagram-14.svg" alt="Follow me on linked-in">
      </a>

      <!-- amazon affiliate advertising-->
      <!-- https://affiliate-program.amazon.com/home -->
      
      <div class="advert1">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B00008RW9U&asins=B00008RW9U&linkId=ec2a803818e73f1df3dbab2a8189b318&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B01DKCE4C4&asins=B01DKCE4C4&linkId=00ad10b1d76401b0852274f6ed5c1951&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B078WST5P8&asins=B078WST5P8&linkId=95e734cf1d6572a1be2dc8f52f5e1307&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe> 

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B018UQ5AMS&asins=B018UQ5AMS&linkId=6ae9de59c51bad77d6dc7640bbecb781&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe> 

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B07BSXV8SX&asins=B07BSXV8SX&linkId=3dcc1c37589a666b04227e266735b4aa&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B00BWFIKJA&asins=B00BWFIKJA&linkId=a6ecbd921839c867521049ec3bae3384&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B017HVSKRY&asins=B017HVSKRY&linkId=ee7261056f2f285f15b6bfc73ad4b29f&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B013BKPVSQ&asins=B013BKPVSQ&linkId=2bd01d6937a590ce7b54bace1349c05f&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B00VB9MM5A&asins=B00VB9MM5A&linkId=3e548be939d7d7f9f83db22fdb580690&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B0054WGRBA&asins=B0054WGRBA&linkId=3970b724e71936fac9dac4c4ab4180a2&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B06XKN4Z7H&asins=B06XKN4Z7H&linkId=5907acfa48e32fe981b03cc9885d72f8&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>

      </div>
        <div class="advert2"> 
          <!-- possibly insert taboola click bait here -->
          <!-- https://signup.taboola.com/join?utm_source=yahoo&utm_medium=cpc&utm_campaign=us_brand_straight&utm_content=9689143293_34183326949&utm_term=taboola&device=DESK -->
          <h2>$$$ B</h2>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8006192449813539",
            enable_page_level_ads: true
            });
          </script>
        </div>
    </div>      
  </body>
</html>

