
/* Great debugging tool!*/
  div {
    border: 0px none black; 
    padding: 0px; 
    /* overflow:hidden; */
    overflow:hidden; 

  }


* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #0097a7ff; /* clr 2 header */
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
}

tr:nth-child(even) {
  background-color: rgba(250, 217, 179, 0.856); /* clr 2 odd row */
}  

tr:hover {
  background-color: #ddd;
}

tr {
  background-color: rgba(250, 217, 179, 0.856); /* clr 2 even row */
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

#banner {
  width: 100%;
  height: auto;
  background-color: black;
}

#menu {
  background-color: black; /*clr 2 menu */
  height:40px;
  /* border: 3px solid blue; */
}

#center_the_menu {
  margin: auto; /* True Center */
  /* margin: 0 0 0 26%; /* Skewed center */
  width: 460px;
  padding: 0px; 
  border: 3px solid purple; 
}

#center_the_datepicker {
  float:left;
  width:80%;
}

button {
  background-color: rgb(205, 207, 207);
  position:relative;
  margin: 2px;
}

#date {
  margin: 0px 3px 0px 3px; 
  background-color: rgb(205, 207, 207);
}

#left {
  float: left;
  width: 43%;
  border: 1px solid black; 
}
    
#center {
  float: left;
  width: 43%;
  border: 1px solid black; 
} 

#right {
  float: left;
  width: 14%;
  border: 1px solid black; 
}

.standings {
  background-color: rgb(241, 185, 101); /* clr 2 background  */
  height:360px;
  /* border: 3px solid blue; */
}

.center_the_standings {
  margin: auto;
  width: 85%;
  padding: 10px; 
  text-align: center; /* children will be centered */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* border: 3px solid green; */
}
.select_box_a {
  width:50%;
  float: left;
}

.select_box_b {
  width:50%;
  float: right;
}

.advert1 {
  background-color: rgb(241, 185, 101); /* clr 2 background  */
  height:360px;
  /* border: 3px solid blue; */
}

.center_the_advert {
  text-align: center; /* children will be centered */
  position: relative;
  top: 50%;
  transform: translateY(-50%);  
  /* border: 3px solid green; */
}


.advert2{
  background-color: brown;
  height:110px;
}
  
#footer {
  background-color: black; /*clr 2 menu */
  width:100%;
  height:32px;
  clear:both;
}

#social_icons {
  /* margin: auto; True Center */
  margin: 0 0 0 28%; /* Skewed center */
  width:30%;
  text-align: center; /* children will be centered */
  /* border: 3px solid green; */
}

.social_icon {
  margin:0px 10px 0px 10px;
}

#left-button {
  float:left;
  position:relative;
  padding: 5px; 
  /* border: 1px solid green; */
}

#right-button {
  float:left;
  position:relative;
  padding: 5px; 
  top: -15px;
  /* border: 1px solid green; */
}

/* For mobile phones: */
@media only screen and (max-width:478) {
  #menu {
    height: 200px;
  }
}

@media only screen and (max-width:800px) {
  /* At 800 px we start to lose data in standings columns*/
  #left, #center, #right {
    width: 100%;
  }
  #menu {
    border: 1px solid yellow; 
  }
  #center_the_menu {

    border: 1px solid white; 
  }
}

/* For mobile phones: */
@media only screen and (max-width:500px) {
  #menu {
    height: 100px;
    border: 1px solid green; 
  }
}
