<!DOCTYPE HTML>
  <html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
    <div class="banner">
      <!-- https://www.publicdomainpictures.net/en/view-image.php?image=90914&picture=baseball-player-action-shot -->
      <a href="/angular">
        <img src="assets/baseball-player-action-shot.jpg" style="width:100%" alt="baseball action image">
      </a>
    </div>
    <div class="menu"> 
        <div  class="center_the_menu">
          <span class="left-button">
            <button  (click)="seasonStartDate()">Season Start</button>
            <button  (click)="decrDate()">-</button>
          </span>  
          <span class="center_the_datepicker">
            <app-date (childEvent)="processChildEvent($event)"></app-date>
          </span>
          <span class="right-button"> 
            <button  (click)="incrDate()">+</button>
            <button  (click)="seasonEndDate()">Season End</button>
          </span>
          <span class="button_fill">&nbsp;</span>
        </div>
    </div>


    <div class="left">
      <div class="standings">
        <div class="center_the_standings">
          <div>
             {{child.getDate()}}
          </div>
          <select [(ngModel)]="currentLeagueLeft" id="currentLeaguemenu"(ngModelChange)="setStyle($event,'--font-family-brand')">
            <option *ngFor="let league of leagueChoices" [value]="league.value">{{league.label}} </option>
          </select>

          <select [(ngModel)]="currentDivisionLeft" id="currentLeaguemenu"(ngModelChange)="setStyle($event,'--font-family-brand')">
            <option *ngFor="let division of divisionChoices" [value]="division.value">{{division.label}} </option>
          </select>

          <router-outlet></router-outlet> 
        </div>
      </div>
    </div>

    <div class="center">
      <div class="standings">
        <div class="center_the_standings">
          <div>
            {{child.getDate()}}
          </div>
          <select [(ngModel)]="currentLeagueRight" id="currentLeaguemenu"(ngModelChange)="setStyle($event,'--font-family-brand')">
            <option *ngFor="let league of leagueChoices" [value]="league.value">{{league.label}} </option>
          </select>

          <select [(ngModel)]="currentDivisionRight" id="currentLeaguemenu"(ngModelChange)="setStyle($event,'--font-family-brand')">
            <option *ngFor="let division of divisionChoices" [value]="division.value">{{division.label}} </option>
          </select>

          <router-outlet name='sidebar'></router-outlet>
        </div>
      </div>
    </div>

    <div class="right">
        <div class="advert1">
            <div class="center_the_advert">
                    <!-- amazon affiliate advertising-->
                    <!-- https://affiliate-program.amazon.com/home -->
                <iframe style="width:120px;height:240px" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=scottlarribea-20&marketplace=amazon&region=US&placement=B01DKCE4C4&asins=B01DKCE4C4&linkId=00ad10b1d76401b0852274f6ed5c1951&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </div>
        </div>
    </div>


    <div class="footer"> 
      <!-- https://iconmonstr.com/facebook-4-svg/ -->
      <a href="https://www.facebook.com/slarribeau" target="_blank">
        <img src="assets/iconmonstr-facebook-4.svg" alt="Follow me on facebook">
      </a>

      <!-- https://iconmonstr.com/twitter-4-svg -->
      <a href="https://www.twitter.com/slarribeau" target="_blank">
        <img src="assets/iconmonstr-twitter-4.svg" alt="Follow me on twitter">
      </a>

      <!-- https://iconmonstr.com/linkedin-4-svg/ -->
      <a href="https://www.linkedin.com/in/scottlarribeau" target="_blank">
        <img src="assets/iconmonstr-linkedin-4.svg" alt="Follow me on instagram">
      </a>

      <!-- https://iconmonstr.com/instagram-14-svg/ -->
      <a href="https://www.instagram.com/slarribeau463" target="_blank">
        <img src="assets/iconmonstr-instagram-14.svg" alt="Follow me on linked-in">
      </a>


      

        <div class="advert2"> 
          <!-- possibly insert taboola click bait here -->
          <!-- https://signup.taboola.com/join?utm_source=yahoo&utm_medium=cpc&utm_campaign=us_brand_straight&utm_content=9689143293_34183326949&utm_term=taboola&device=DESK -->
          <h2>$$$ B</h2>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8006192449813539",
            enable_page_level_ads: true
            });
          </script>
        </div>
    </div>  
  </div>    
  </body>
</html>

